 HEAD


.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal; 
}

:root{ 
    --primary-color: #ffc5d3;
    --background-color: #d3d3d3;
    --dark-color: #353839;
}

html{
    font-size:62.5%;
    font-family: system-ui; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.container-hero{ 
background-color: #fda776d7
} 

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;

}

.logo a{
    color: #923a82;
   
}

.customer-support i{
    font-size: 3.3rem;
    
}

.content-customer-support{
    display: flex;
    flex-direction: column;
    margin-left: 50rem;
    color: #515455;
    font-family: system-ui;
    font-size: xx-small;
    font-weight: 700;
    text-transform: uppercase;

    

}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo i{
    font-size: 3rem;
    margin-left: 15px;

}

.container-logo h1 a{
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    
    
}

#menu-opened,
#menu-closed {
  display: none;
}

.btn-menu {
  position: auto;
  top: 105px;
  left: 50px;
  font-size: 20px;
  cursor: pointer;
  color: #b91763ea;
  z-index: 2000;
}

.menu-lateral {
  position: fixed;
  top: 0;
  left: -260px;
  width: 250px;
  height: 100%;
  background-color:rgba(185, 23, 99, 0.8);
  padding: 60px 20px;
  transition: left 0.3s ease;
  z-index: 1999;
}

#menu-opened:checked ~ .btn-menu + .menu-lateral {
  left: 0;
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

.menu-lateral nav label {
  display: block;
  margin: 20px 0;
}

.menu-lateral nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: Segoe ui;
}

.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: -0.5rem;

}

.container-user .fa-user{
    font-size: 3rem;
    color: var(--primary-color);
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.search-form button {
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 550;
    font-size: 15px;
    color: #d8538ac5;
    margin-left: 1rem;
    font-family: system-ui;

}


.container-navbar {
    background-color: var(--primary-color);
    width: 100vw; 
    height: auto;
    display: block;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    margin-bottom: -1rem;
    margin-top: 0.5rem;
}
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 0;
    background-color: #ffc5d3;
    width: 100%; 
    box-sizing: border-box; 
    padding-bottom: 1px;
}

.navbar .fa-bars {
    display: none;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: none;

}

html {
    scroll-behavior: smooth;
  }
.menu{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    box-sizing: border-box;
    
}


.menu li{
    list-style: none;  
    margin-bottom: 0.7rem;
}

.menu a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--dark-color);
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease;


}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color:#b91763ea
}

input{
    width: 200px;
    height: 30px;
    background: transparent;
    outline: none;
    border: 2px solid #ff96c5;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 16px;
}

.fa-brands{
    position: absolute;
    margin-left: -10px;
    margin-top: 2px;

}


.banner {
    display: block;
    width: 100vw;
    height: fit-content;
    background-image: url('./images/imagebanner1.jpg');
    background-size: cover;
    background-position: center;
    margin-left: -20px;
    transition: transform 0.5s;
    margin-top: 0;
    
}


.content-banner{
    position: relative;
}

.content-banner img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    background-size: contain;

}

.content-banner h2{
    color: var(--background-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2rem;
    
}


section {
    margin-top: 1.5rem; 
}


.main-content{
    background-color: #bffdc8a6;
    background: linear-gradient(to left, #ffcfda 30%, #9bfab0 70%);
    min-height: 1000px; 
   

}

.container-category {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.container-features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 0;
    padding: 3rem 0;

}

.container-options span{
    margin-left: -1rem;
    font-family: serif;
    font-size: 1.7rem;
    color: #b91763;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.container-options span:hover {
    background-color: #ffd2e1;
    border-radius: 1rem;
}

.more {
    display: block;
    margin-left: 0.7rem;
    margin-right: 0rem;
    margin-top: 2rem;
    font-family: serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #b91763;
    background-color: transparent;
    padding: 0.5rem 1.2rem;
    border: 2px solid #d8538ac5;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    width: fit-content;
}


.more:hover {
    background-color: #ffd2e1; 
    color: white;
    border-color: #ffd2e1;
}


.best-brands{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-brands{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-category{
    height: 20rem;
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
}


.category-serums{
    background-image: linear-gradient(#00000080, #00000080 ), url('https://i.imgur.com/pA5w7Cx.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-left: 1rem
}

.category-hidratantes{
   background-image: linear-gradient(#00000080, #00000080 ), url('https://i.imgur.com/Cmj0cl5.jpeg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    
}

.category-solares{
    background-image: linear-gradient(#00000080, #00000080 ), url('https://i.imgur.com/kLnOlQ4.jpeg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-left: -0.7rem;

}



.card-category p{
    font-size: 1.9rem;
    font-family: serif;
    color: white; 
    text-transform: capitalize;
    position: relative;
    margin-top: 21px;
}

.card-category span{
    font-size: 1.4rem;
    font-family: serif;
    color: #fff;
    background-color: #b9176344; 
    border: 2px solid #ffffffa1;
    border-radius: 1rem;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    margin-top: 1rem;
    
    
}

.card-category span:hover{
    color: var(--primary-color);
}

.heading-1 {
    font-size: 2rem;
    font-family: segoe script;
    font-weight: 500;
    text-align: left;
    margin-top: 1.7rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    color: #333233;
}

.heading-2{
    font-size: 2rem;
    font-family: segoe script;
    font-weight: 500;
    text-align: left;
    margin-top: 1.7rem;
    margin-bottom: 0.4rem;
    margin-left: 0.2rem;
    color: #333233;
}

:root{ 
    --primary-color: #ffc5d3;
    --background-color: #d3d3d3;
    --dark-color: #353839;

}

html{
    font-size:62.5%;
    font-family: handlee, 'fontsquirrel', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;

}

.customer-support i{
    font-size: 3.3rem;
    
}

.content-customer-support{
    display: flex;
    flex-direction: column;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo i{
    font-size: 3rem;

}

.container-logo h1 a{
    text-decoration: none;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    
    
}

.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;

}

.container-user .fa-user{
    font-size: 3rem;
    color: var(--primary-color);
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping{
    font-size: 3rem;
    padding-left: 1rem;
}

.content-shopping-cart{
    display:flex;
    flex-direction: column;
}

.card-category {
    position: relative;
  }
  
  .icono.heart,
  .icono.basket {
    position: absolute;
    top: 1rem;
    font-size: 1.5rem;
  }
  
  .icono.heart {
    right: 3.5rem;
  }
  
  .icono.basket {
    right: 1rem;
    
  }

  .icono.heart {
    font-size: 2rem;
    color: #b91763;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .icono.heart:hover {
    transform: scale(1.3);
  }
  
  .icono.basket {
    font-size: 2rem;
    color: #550000;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .icono.basket:hover {
    transform: rotate(-10deg) scale(1.2);
  }
  

.container-navbar{
    background-color: var(--primary-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

}

.navbar .fa-bars{
    display: none;

}

.menu{
    display: flex;
    gap: 2rem;
    
}



.slider-box{
    width: 780px;
    height: 400px;
    margin: 50px auto 0;
    position: absolute;
    top: 680px;
    right: 78px;
    overflow: hidden;
    border-radius: 15px;
    max-width: none;
    min-width: 780px;
    
}

.slider-box ul{
    display: flex;
    padding: 0;
    margin: 0;
    width: 5460px;
    animation: slide 18s infinite alternate ease-in-out;
}

.slider-box li{
    width: 780px;
    list-style: none;
    position: relative;

}

.slider-box img{
    width: 780px;
    height: 400px;
}

@keyframes slide {
    0% { margin-left: 0; }
    14% { margin-left: 0; }
  
    15% { margin-left: -100%; }
    28% { margin-left: -100%; }
  
    29% { margin-left: -200%; }
    42% { margin-left: -200%; }
  
    43% { margin-left: -300%; }
    57% { margin-left: -300%; }
  
    58% { margin-left: -400%; }
    71% { margin-left: -400%; }
  
    72% { margin-left: -500%; }
    85% { margin-left: -500%; }
  
    86% { margin-left: -600%; }
    100% { margin-left: -600%; }
  }

#contacto {
    position: absolute;
    top: 1150px; 
    right: auto;     
    left: 450px; 
    right: 50px;
    width: 400px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: serif;
  }
  
  #contacto form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #contacto label {
    font-weight: light;
    font-family: serif;
  }
  
  #contacto .btn {
    background-color: #b91763;
    border: none;
    padding: 10px 20px;
    transition: background 0.3s;
    font-family: serif; 
  }
  
  #contacto .btn:hover {
    background-color: #93114c;
  }
  
